matplotlib
networkx~=3.3
streamlit-extras
openai
requests
tenacity
streamlit~=1.36.0
tiktoken
scipy
pandas~=2.2.2
streamlit-pandas-profiling
pyvis~=0.3.2
numpy
web3
pydantic-settings
aiohttp~=3.9.5